/* COLORS */
:root {
    --text: rgb(22, 21, 21); 
    --blue: rgb(43, 88, 213);
    --light-blue: rgb(182, 213, 241);
    --light-purple: rgb(211, 188, 228);
    --green: rgb(104, 204, 82);
    --light-green: rgb(218, 238, 198);
    --yellow: rgb(192, 170, 33);
    --light-yellow: rgb(244, 235, 157);
    --light-orange: rgb(240, 216, 183);
    --light-pink: rgb(238, 196, 210);
    --gray: rgb(111, 108, 108);
    --light-gray: rgb(232, 228, 228);
}

::-moz-selection { /* highlight color */
    background: var(--blue);
    color: white;
}

::selection {
    background: var(--blue);
    color: white;
}

.bk-purple { /* background colors */
    background-color: var(--light-purple) !important;
}

.bk-pink {
    background-color: var(--light-pink) !important;
}

.bk-orange {
    background-color: var(--light-orange) !important;
}

/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { /* add smooth scrolling behavior */
    scroll-behavior: smooth;
}

body { /* default styling for whole document body */
    font-family: Mulish;
    font-size: calc(14px + 0.4vw);
    line-height: calc(20px + 0.6vw);
    font-weight: 300;
    color: var(--text);
    min-height: 100vh;
    overflow-x: hidden;
}

/* FONT STYLING */
p { /* page text styling */
    margin-bottom: calc(10px + 0.5vw);
    transition: 0.5s;
}

p:last-child {
    margin-bottom: 0;
}

.bold {
    font-weight: 700;
}

.center {
    text-align: center;
}

h1, h2, h3, h4, h5 { /* headings */
    font-family: Be Vietnam Pro;
    font-weight: 800;
}

h3 {
    font-size: calc(18px + 1vw);
    line-height: calc(36px + 2vw);
    font-weight: 400;
}

h5 {
    font-size: calc(16px + 0.4vw);
    line-height: calc(20px + 1vw);
    font-weight: 600;
}

a, #order-by span, #edit { /* links */
    text-decoration: none;
    color: var(--blue);
    font-weight: 400;
    transition: 0.5s;
}

a:hover, #order-by span:hover, #edit:hover {
   opacity: 0.8;
}

/* MAIN CONTENT */
#content {
    margin: calc(12px + 1.6vw);
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid var(--light-gray);
}

/* left & right sidebars */
.left, .right {
    padding: calc(10px + 1.5vw) calc(16px + 1.5vw);
    transition: 0.5s;
}

#content .left {
    border-right: 1px solid var(--light-gray);
}

/* LEFT SIDEBAR */
.participant { /* host information */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.prof-pic { /* avatar circles */
    margin-right: 10px;
    background-color: var(--light-blue);
    border-radius: 100%;
    padding: 5px 8px;
    font-size: calc(12px + 0.2vw);
    font-weight: 400;
}

/* key */
#key {
    margin-top: 5px;
}

.key-item { /* each legend entry */
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.icon { /* legend icons (default: yes) */
    background-color: var(--light-green);
    background-image: url(img/yes.png);
    background-position: center;
    background-size: cover;
    width: calc(18px + 0.6vw);
    height: calc(18px + 0.6vw);
    border-radius: 2px;
}

.icon.maybe { /* if need be */
    background-image: url(img/maybe.png);
    background-color: var(--light-yellow);
}

.icon.no { /* if need be */
    background-image: url(img/no.png);
    background-color: var(--light-gray);
}

/* BUTTONS */
#buttons {
    float: right;
}

#edit { /* edit button */
    display: inline-block;
    margin-right: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

#edit.inactive {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

#submit { /* submit button */
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    padding: 5px 15px;
    transition: 0.5s;
    border-radius: 2px;
    display: inline-block;
}

#submit.inactive {
    background-color: var(--gray);
    pointer-events: none;
}

#submit:hover {
    opacity: 0.8;
}

/* AVAILABILITY TABLE */
#table {
    margin-top: 20px;
}

#option-text {
    text-align: right;
    margin-bottom: 0;
    font-size: smaller;
    color: var(--gray);
}

.row { /* each row in the table */
    display: grid;
    grid-template-columns: 18% 80.5%;
    column-gap: 15px;
    margin-bottom: 10px;
    align-items: center;
}

.row.top {
    align-items: initial;
}

.row .left, .row .right {
    padding: 0;
    border: none !important;
}

.row.top .left { /* first row, left side */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px 0 10px;
}

#order-by span { /* order by options */
    font-weight: 600;
    cursor: pointer;
}

#order-by span.selected {
    color: var(--text);
    pointer-events: none;
}

#order-by p {
    margin-bottom: 0;
}

.row .left .participant {
    margin-bottom: 0px;
}

.prof-pic.single { /* if only 1 letter in avatar bubble */
    padding: 5px 14px;
}

/* timeslot styling */
#times.inactive {
    pointer-events: none;
    filter: grayscale(0.5);
    opacity: 0.8;
}

.time {
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s;
}

.time.yes { /* current user is available */
    background-color: var(--light-green);
}

.time.maybe { /* current user said if need be*/
    background-color: var(--light-yellow);
}

.time:hover {
    background-color: var(--light-gray);
}

.time.yes:hover {
    background-color: var(--light-green);
}

.time.maybe:hover {
    background-color: var(--light-yellow);
}

.time p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: smaller;
}

.day, .month {
    color: var(--gray);
}

.time .date {
    font-size: xx-large;
    font-weight: 800;
    margin-bottom: 5px;
    margin-top: 2px;
}

.month {
    margin-bottom: 5px;
}

.checkbox { /* custom checkbox styling */
    margin-top: 20px;
    background-color: white;
    background-position: center;
    background-size: cover;
    width: calc(18px + 0.6vw);
    height: calc(18px + 0.6vw);
    border-radius: 2px;
    border: 1px solid var(--gray);
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

.time.yes .checkbox { /* change background when user is available */
    background-image: url(img/yes.png);
}

.time.maybe .checkbox { /* change background when user indicates if need be */
    background-image: url(img/maybe.png);
}

.row .right { /* split right side into 6 columns*/
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
}

.row .right div {
    margin-left: auto;
    margin-right: auto;
}

/* display total availability counts at top of table */
.counts {
    grid-column: 2;
}

.count { 
    display: flex;
}

.count p {
    font-weight: 600;
}

.count img { 
    width: calc(14px + 0.6vw);
    height: auto;
    margin-right: 5px;
}

/* show availability of other participants */
.status {
    background-color: var(--light-green);
    background-image: url(img/yes.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(32px + 2vw);
    border-radius: 4px;
}

.status.no {
    background-color: var(--light-gray);
    background-image: url(img/no.png);
}

.status.maybe {
    background-color: var(--light-yellow);
    background-image: url(img/maybe.png);
}